*{
    padding: 0px;
    margin: 0px;
}

.bg_img{
    position: relative;
    display: flex;
    background: url(src/assets/bg-login.png) center/cover;
    height: 50vh;
    margin: 2%;
    border-radius: 0.8rem;
    justify-content: center;
    align-items: center;
    
}
.bg_header{
    display: flex;
    position: relative;
    top: -15%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 7rem;
    color: white;
    font-size: 2.2rem; 
}
#card_Fname{
    border : 1px solid black;
    border-radius : 20px;
    height: 4rem;
    width: 80%;
    margin-left: 2rem;
    margin-top: 2rem;
}

#or{
    margin-left: 50%;
    margin-top: 1rem;
    font-size: large;
    color: gray;
}
.bg_header p{
    width: 60%;
    /* background-color: blue; */
    font-size: 1rem;
}
.card{
    background-color: white;
    margin-top: 30%;
    border: 2px solid black;
    height: 33rem;
    width: 25rem;
    position: absolute;
    border-radius: 1.2rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.439);
}

.dets{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-details-section{
    display: flex;
    height: 60%;
    flex-direction: column;
    align-items: center;
}

.inputs{
    margin-top: 10px;
    margin-bottom : 10px;
    width : 20vw;
    height: 5vh;
    border-radius: 10px;
    outline : none;
    font-size: 2rem;
    border : 1px solid rgb(62, 59, 59);
    padding: 10px;
    color : black;
}

#card_header{
    margin-left: 8rem;
    margin-top: 2rem;
    font-size: 1.3rem;
}

.login-buttons{
    display: flex;
    flex-direction: column;
}
.login-buttons button{
    height: 35px;
    width: 17rem;
    border-radius: 10px;
    border : 1px solid black;
    background-color: cyan;
    margin-bottom: 2%;
}
